@{
    ViewBag.Title = "About";
}
<div class="textBackground">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


    <p>Our website shows hockey fans who the top teams and players are in the league in real time.</p>
</div>