@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top NHL Players and Teams</h1>
    <p class="lead">Welcome to our website where we show you who is winning the NHL point race and which teams are at the top of the standings.</p>
    <p><a href="https://www.nhl.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Toronto Maple Leafs</h2>
        <img src="/Content/Images/Toronto_Maple_Leafs2.jpg" alt="Toronto Maple Leafs Logo" height="120px" width="150px" />
        <p>The First Place Team.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/mapleleafs">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pittsburgh Penguins</h2>
        <img src="/Content/Images/Pittsburgh_Penguins8[1].jpg" alt="Pittsburgh Penguin Logo" height="120px" width="150px" />
        <p>The Second Place Team.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/penguins/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Boston Bruins</h2>
        <img src="/Content/Images/boston_bruins.gif" alt="Boston Bruins Logo" height="120px" width="140px" />
        <p>The Third Place Team.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/bruins/">Learn more &raquo;</a></p>
    </div>
</div>